:root {
  --primary-color: #0069b4;
  --secondary-color: #e6f0f8;
  --gray: #c4c4c4;
  --light-gray: #fff;
  --form-row-flex-wrap: wrap;
  --selection-row-flex-wrap: wrap;
  --instruction-color: #ff6884;
}
@media (min-width: 820px) {
  :root {
    --form-row-flex-wrap: wrap;
    --selection-row-flex-wrap: nowrap;
  }
}

* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font:
    100%/1.5 'Helvetica Neue',
    Arial,
    sans-serif;
}
.standalone-app a,
.standalone-app a:visited,
.standalone-app a:active {
  color: #0069b4;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
.build .page-container {
  min-height: 100vh;
  position: relative;
}
.build .page-container {
  padding-bottom: 60px;
}
footer,
header {
  display: none;
  background: #0069b4;
  color: #fff;
  padding: 1rem;
}
footer.configurator,
header.configurator {
  display: block;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.page-container {
  position: relative;
  padding-bottom: 60px;
}
.configuration-panel {
  display: none;
}
.configuration-panel.configurator {
  display: block;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}
.embed .container {
  width: 100%;
  max-width: 100%;
  display: block !important;
}

.responsive-table {
  overflow-x: auto;
  max-width: 100%;
}
.job-list {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.job-list tr {
  border-bottom: 1px solid #eceded;
}
.job-list tbody tr:hover {
  background: #e6f0f8;
}
.job-list th,
.job-list td {
  padding: 8px;
}
.job-list th {
  font-size: 0.9rem;
  line-height: 1.1;
  text-align: left;
  background: #0069b4;
  color: #fff;
}
.job-list td {
  font-size: 0.9rem;
}
.icon-apprentice::after {
  content: '*';
  color: red;
  margin-left: 5px;
}

.builder > form {
  margin-left: -5px;
  margin-right: -5px;
  display: flex;
  flex-flow: row wrap;
}
.form-row {
  display: flex;
  flex-wrap: var(--form-row-flex-wrap);
  gap: 20px;
  margin-block: 20px;
}
.form-row:last-child {
  margin-bottom: 0;
}

.selection-row {
  flex-wrap: var(--selection-row-flex-wrap);
  justify-content: space-between;
}

.form-group {
  flex-grow: 0;
  flex-shrink: 1;
}
.selection-row > .form-group {
  flex-grow: 3;
}
.no-result-text {
  flex: 0 1 100%;
  padding-block: 10px;
}

.no-result-text-editor {
  opacity: 1;
  height: auto;
  padding: 0.5rem;
  border: 1px solid var(--gray);
  width: 100%;
  display: block;
  min-height: 40px;
  transition: opacity 300ms ease;
}
.no-result-text-editor:active,
.no-result-text-editor:focus {
  outline: 2px solid #aaa;
}
.no-result-text-editor.hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  min-height: 0;
  overflow: hidden;
}
.toggle-button {
  display: block;
  margin-top: 10px;
}
.instructions {
  margin-block: 12px;
}
.instructions .alert {
  display: block;
  font-size: 0.825rem;
  padding: 0.25rem;
  margin: 0.5rem 0;
  border: 1px dotted var(--primary-color);
  background-color: var(--secondary-color);
}
.no-result-text .text-output {
  font-size: 0.925rem;
  padding: 0.5rem 0.5rem;
  margin: 0;
  background: var(--light-gray);
}
.department-selection {
  display: flex;
  flex-flow: row var(--selection-row-flex-wrap);
  gap: 20px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 0.825rem;
}
.instruction {
  display: block;
  font-size: 0.825rem;
  font-weight: 400;
  color: var(--instruction-color);
  margin-top: 10px;
}
select {
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6rem 1.8rem 0.5rem 0.125rem;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #c4c4c4;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  box-shadow: 0 0 0 transparent;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");

  /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); */
  background-repeat: no-repeat, repeat;
  background-position:
    right 0.7rem top 50%,
    0 0;
  background-size:
    0.65rem auto,
    100%;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #888;
}
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 5px 0 rgba(6, 66, 131, 0.322);
  box-shadow: 0 0 0 1px -moz-mac-focusring;
  color: #222;
  outline: none;
  border-bottom-color: rgb(6, 66, 131);
}
select option {
  font-weight: normal;
}

/* Disabled styles */
select:disabled,
select[aria-disabled='true'] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
select:disabled:hover,
select[aria-disabled='true'] {
  border-color: #aaa;
}

.branding {
  display: flex;
  flex-flow: row nowrap;
  line-height: 1;
}
.branding .logo {
  width: 60px;
  margin-right: 5px;
}
.copy-link {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: space-between;

  width: 100%;
}
input[type='text'] {
  padding: 0 10px;
  flex: 0 1 calc(100% - 245px);
  /* width: calc(100% - 150px); */
  line-height: 40px;
  margin-right: 10px;
  font-size: 16px;
  border: 0 none;
  background: var(--light-gray);
  border-radius: 0;
}
input[type='text']:focus,
input[type='text']:active {
  outline: 0 none;
  /* background: rgba(0.0%, 32.7%, 56.1%, .6); */
  box-shadow: 0 0 5px rgba(9, 83, 164, 0.647);
}
.search input[type='text'] {
  width: 100%;
  min-width: 200px;
}
@media (min-width: 678px) {
  input[type='text'] {
    font-size: 12px;
  }
}
.button {
  flex: 0 1 110px;
  padding: 0 10px;
  line-height: 40px;
  background: #0069b4;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  border: 0 none;
  cursor: pointer;
  transition: background 500ms ease;
  border-radius: 0;
  outline: 0 none;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button a {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}
.button a:hover,
.button a:active,
.button a:visited {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}
.link-button {
  flex: 0 1 110px;
  margin-left: 10px;
}
.button:focus,
.button:hover {
  background: #00538f;
  outline: 0 none;
}
.tooltip {
  font-size: 12px;
  margin: -1rem 5px 2rem 5px;
  position: relative;
  background: rgba(255, 214, 84, 1);
  z-index: 1;
  color: #000;
}
.tooltip::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgba(255, 214, 84, 1);
  transform: rotate(-45deg) translate(-50%);
  left: 50%;
  top: -15px;
  z-index: -1;
}

.tooltip em {
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  vertical-align: middle;
}
.tooltip span {
  display: inline-block;
  vertical-align: middle;
}

.standalone-app {
  padding-top: 20px;
}
.has-configurator .standalone-app {
  padding-top: 0;
}

.fancybox-slide--iframe .fancybox-content {
  max-width: 960px;
}

.hide-department-checkbox {
  flex: 0 0 100%;
  margin-bottom: 5px;
}
.hide-department-checkbox label {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.925rem;
}
.item-count .count {
  margin-left: 5px;
}

.configuration-panel {
  background: var(--secondary-color);
  padding: 10px;
  margin-block: 20px;
}
