@import "https://kendo.cdn.telerik.com/2020.1.114/styles/kendo.default-v2.min.css";

.web-app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.k-card {
  width: 285px;
  margin: 5%;
}