<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
  <meta charset="utf-8">

  <title>verbalix speakers app</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.gr.ch/apps/int/verbalix-speakers-app/css/app.css">

</head>

<body>
  <div class="uk-section-primary">

    <div class="uk-container">
      <h1 class="app-title">Speakers/Markers App</h1>
    </div>

  </div>
  <div class="uk-container body">

    <div class="app" id="speakers-app" v-cloak>

      <div class="marks-query">
        <form class="query uk-grid-small" uk-grid>
          <div class="uk-width-1-2@s uk-width-1-4@m uk-margin-bottom ">
            <label for="marks-from" class="uk-form-label">von</label>
            <input type="text" name="marks-from" id="marks-from" class="uk-input" v-model="marksfrom" placeholder="2020.06.15 00:00:00">

          </div>
          <div class="form-control uk-width-1-4@m uk-width-1-2@s uk-margin-bottom ">
            <label for="marks-to" class="uk-form-label">bis</label>

            <input type="text" name="marks-to" id="marks-to" class="uk-input" v-model="marksto" placeholder="2020.06.15 18:00:00">

          </div>
          <div class="form-control buttons uk-margin-bottom uk-width-1-4@m">
            <button type="button" class="uk-button uk-button-primary" v-on:click="getdata">Marks anzeigen</button>
          </div>
        </form>
      </div>
      <div class="no-results uk-alert-warning uk-padding-small" v-if="!noresults">
        Im Zeitraum von <span class="uk-text-emphasis">{{ marksfrom }}</span> bis <span class="uk-text-emphasis">{{ marksto }}</span> sind keine Datensätze vorhanden.
      </div>
      <div class="counts-and-period" v-if="marks.length">
        <span class="label">Anzahl Datensätze im Zeitraum von <span class="uk-text-emphasis">{{ marksfrom }}</span> bis <span class="uk-text-emphasis">{{ marksto }}</span>:</span> <span class="value"><strong>{{ marks.length }}</strong></span>
      </div>
      <ul class="mark-speaker-listing uk-margin-top uk-list" v-if="marks.length">
        <li v-for="mark in marks" class="uk-article">
          <div class="mark uk-article-meta" :data-id="mark.id">
            <span class="value">{{ mark.timestamp | timestamp }}</span>
          </div>
          <div v-if="mark.speaker_data.length" class="speaker-data">
            <span class="forename" v-html="mark.speaker_data[0].forename"></span> <span class="name" v-html="mark.speaker_data[0].name"></span><span v-if="mark.speaker_data[0].user_format" v-html="replaceName(mark.speaker_data[0].user_format,mark.speaker_data[0].name)" class="user-format"></span>
          </div>
          <div class="mark-content" v-html="getxmltext(mark.xml)"></div>
        </li>
      </ul>
    </div>
  </div>

  <script src="https://cdn.gr.ch/apps/int/verbalix-speakers-app/vendor/uikit-3/js/uikit.min.js"></script>
  <script src="https://cdn.gr.ch/apps/int/verbalix-speakers-app/vendor/axios.min.js"></script>
  <script src="https://cdn.gr.ch/apps/int/verbalix-speakers-app/vendor/vue.js"></script>
  <script src="https://cdn.gr.ch/apps/int/verbalix-speakers-app/js/app.js"></script>
</body>

</html>